extends partials/layout_logged

block styles
    link(rel='stylesheet' href='/css/public_profile.css')

block content
    h4
    div.row
        div.col.s12.z-depth-1.grey.grey.lighten-4.row.form-container#profile
            div.row
                div.row.col.s12.m5.l3.center
                    div.col.s12
                        img(src='/images_upload/' + profileUser.profile.profileImage).responsive-img
                        //div(style='background-image: url(/images_upload/' + profileUser.profile.profileImage +');').col.s12
                    div.col.s12
                        p.left-align Popularity score : #{profileUser.profile.popularity}
                        p.left-align Location :
                            span#location(lat=profileUser.profile.geoLatitude lng=profileUser.profile.geoLongitude)
                        p.left-align Last connection :
                            time.timeago(datetime=profileUser.profile.lastConnection)
                div.col.s12.m7.l9
                    - var age = new Date().getFullYear() - profileUser.profile.birthday.split('-')[0];
                    - var orAff = {bi: 'everyone', man: 'men', woman: 'women'}
                    h6.right-align: a(href='/report/' + profileUser.id) Report user
                    h3 #{profileUser.profile.firstname} #{profileUser.profile.lastname}
                    div#friendButton
                        if (profileUser.id !== user.id && user.profile.images && user.profile.images.length > 0)
                            a.btn.waves-effect.waves-light.pink#like
                                i.material-icons.left add
                                | Like
                            a.btn.waves-effect.waves-light.red.darken-1#block
                                i.material-icons.left block
                                | Block
                        if (profileUser.id !== user.id && (!user.profile.images || user.profile.images.length === 0))
                            p Upload images if you want to add friends.
                    h5 #{age}yo | I'm a #{profileUser.profile.sex} and I love #{orAff[profileUser.profile.orientation]}
                    if profileUser.profile.bio
                        p.bio= profileUser.profile.bio

            div.row.col.s12
            each imageUri in profileUser.profile.images || []
                if (imageUri !== profileUser.profile.profileImage)
                    div.col.l3.m6.s12
                        div.card.light-blue.lighten-2.my-card-image
                            div.card-content(style="background-image: url(/images_upload/" + imageUri + ");")

            div.row.col.s12
                div.col.s12
                each tag in profileTags
                    div.chip= tag.value
//- TODO : Last connexion date

block scripts
    script.
        var profileUser = !{JSON.stringify(profileUser)};
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkXdeT13TrHcpPaQxOqPZFzfCxpkr6h7k&libraries=places")
    script(type='text/javascript' src='/js/public_profile.js')
